# Ignore binary files and folders
*.a
*.bin
*.exe
*.lib
*.dll
*.so
/[Bb]in/
/[Ll]ib/
/[aA]/
/utils/
/sts/

# Ignore win32 project
/proj.win32/*
!/proj.win32/main.cpp
!/proj.win32/main.hpp
!/proj.win32/build-cfg.json
!/proj.win32/shredder.sln
!/proj.win32/shredder.v12.suo
!/proj.win32/shredder.vcxproj
!/proj.win32/shredder.vcxproj.filters
!/proj.win32/shredder.vcxproj.user

# Ignore android project
/proj.android/*
!/proj.android/jni/
!/proj.android/src/
!/proj.android/build-cfg.json
!/proj.android/build.xml
!/proj.android/AndroidManifest.xml
!/proj.android/.project
!/proj.android/.cproject
!/proj.android/.classpath

# Ignore ios_mac project
/proj.ios_mac/*

# Ignore win8.1 project
/proj.win8.1/*