# Ignore binary files and folders
*.a
*.bin
*.exe
*.lib
*.dll
*.so
/[Bb]in/
/[Ll]ib/
/[aA]/
/utils/
/source/resources.rc
/assets/release

# Ignore win32 project
/proj.win32/*
!/proj.win32/main.cpp
!/proj.win32/main.hpp
!/proj.win32/build-cfg.json
!/proj.win32/shredder.sln
!/proj.win32/shredder.v12.suo
!/proj.win32/shredder.vcxproj
!/proj.win32/shredder.vcxproj.filters
!/proj.win32/shredder.vcxproj.user

# Ignore android project
/proj.android-studio/*
/proj.android/*
!/proj.android-studio/app/
/proj.android-studio/app/build
/proj.android-studio/app/libs
/proj.android-studio/app/obj
/proj.android-studio/app/assets
!/proj.android-studio/build.gradle
!/proj.android-studio/build-cfg.json
!/proj.android-studio/gradle.properties
!/proj.android-studio/local.properties
!/proj.android-studiod/settings.gradle

# Ignore ios_mac project
/proj.ios_mac/*

# Ignore win8.1 project
/proj.win8.1/*