[submodule "cocos2d"]
	path = cocos2d
	url = https://github.com/cocos2d/cocos2d-x.git
[submodule "crypto"]
	path = crypto
	url = https://github.com/BrianGladman/AES.git
[submodule "triangulator"]
	path = triangulator
	url = https://github.com/ivanfratric/polypartition.git
[submodule "splitter"]
	path = splitter
	url = https://github.com/geidav/concave-poly-splitter.git
